@import "variables";

.pizzaBlock {
  width: 100%;
  text-align: center;
  margin-bottom: 65px;
  animation: appearance 1s ease;

  @media (max-width: 1090px) {
    margin-bottom: 35px;
  }

  @media (max-width: 768px) {
    &:not(:last-of-type) {
      border-bottom: 1px solid #efefef;
      margin-bottom: 25px;
      padding-bottom: 45px;
    }
  }

  .image {
    width: 260px;
  }

  .title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  .selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
