$background: #ffdf8c;
$gray-text: #7B7B7B;

$black: #232323;
$orange: #fe5f1e;
$outline-hover: #fff;

$container-width: 90%;
$container-width-cart: 720px;

$btn-gray: #F9F9F9;
$active-sort: rgba(254, 95, 30, 0.05);
$bgc-tile: #F3F3F3;
$btn-tile-text: #bebebe;