@import 'fonts';
@import 'variables';
@import 'libs/normalize';

body {
  background-color: $background;
  padding: 50px 0;
  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  @media (max-width: 768px) {
    width: calc(100% - 40px);
  }
}

.content {
  padding: 40px 0;
    
  &__title {
    margin: 35px 0;
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  &__items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;

    @media (max-width: 1380px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 1090px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

}
