@import "variables";

.container {
  width: $container-width;
  max-width: 820px;
  margin: 30px auto;
}

.title {
  margin-bottom: 30px;
}
.description {
  margin-bottom: 30px;
  &Map {
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: underline;
  }
}

.button {
  margin-bottom: 30px;
}
