@import "variables";

.container {
  margin-bottom: 10px;
  width: 100%;
}

.formSubmit {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.description {
  margin-bottom: 30px;
  &Map {
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: underline;
  }
}
